ion-content {
    --background: #EEEEEE;
  }
  ion-header {
    ion-toolbar {
        --background: transparent;
      
        ion-title {
          padding: 20px 0 46px 0;
          font-weight: 900;
        }
      
        p {
          padding: 40px 0 20px 0;
          font-weight: 600;
        }
      
        .back-circle {
          z-index: -1;
          width: 200px;
          height: 200px;
          background: #e5ecf1;
          position: absolute;
          border-radius: 50%;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          bottom: 0;
      
        }
      
      
      }
  }
  ion-content {
    --background: #f1f5f8;
    background: #f1f5f8;
    // ion-card {
    //     width: 100%;
    //     box-shadow: none;
    //     border-radius: 14px;
    //     padding: 14px;
    //     background: rgba(255,255,255,.8);
     
    //     .main {
    //       width: 60px;
    //       height: 60px;
    //       border-radius: 50px;
    //       background: #FFFFFF;
         
                
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    
    //       img {
    //         width: 30px;
    //       }
    
          
    
    //     }
    //      ion-badge {
    //     margin-top: 8px;
    //     background: #3ac75a;
    //   }
    //     .files {
    //         padding-top: 14px;
    //     }
    
    //   }
    ion-card {
      overflow: visible;
      background: rgba(255,255,255,.8);
      height: 120px;
    box-shadow:  7px 7px 20px #dbdfe2, 
        -7px -7px 20px #ffffff;
      border-radius: 8px;
      margin: 26px 0;
      ion-col {
        ion-img {
          position: relative;
          bottom: 36px;
          width: 120px;
        }
      }
      .mask {
        img {
          width: 240px;
          position: absolute;
          bottom: 0px;
          left: 140px;
          mask-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(0,0,0,0));
        }
      }
           ion-badge {
        margin-top: 4px;
        text-transform: capitalize;
        background: #3ac75a;
      }
      ion-card-title {
        font-weight: 900;
      }
      .no {
        color: rgba(0,0,0,.66);
        font-weight: bold;
      }
    }
  }

  .card-block {
      padding:10px
  }