<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-img">
    <img src="../../assets/welcome.jpg" alt="">
  </div>
  <div class="title">
    <h3>Welcome to <br>
      Cookies <br>
      Delight</h3>
  </div>

  <div class="sub-title">
    <p>
      "A wide variety of  selling cookies  at reasonable prices at your door step...”
    </p>
  </div>

  <div class="container-form-btn">
    <button (click)="goHome()" class="form-btn custom-font">
      Cookies
    </button>
  </div>

</ion-content>