<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
    <div class="back-circle"></div>

  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen="true">

  <div class="back-btn">
    <ion-back-button defaultHref="/welcome"></ion-back-button>
  </div>

  <div class="auth-page" [ngStyle]="{'background': 'url('+ bg +') 0 0/100% 100% no-repeat'}">
    <div class="title">
      <span *ngIf="isShowlogin"> Sign In</span>
      <span *ngIf="isShowSignUp"> Sign Up</span>
    </div>

    <div class="ion-padding">
      <app-login *ngIf="isShowlogin" (OnSingUpClick)="showSignUp()"></app-login>
      <app-registration *ngIf="isShowSignUp" (OnloginClick)="showLogin()"></app-registration>
    </div>
  </div>

</ion-content>

<!-- <ion-footer class="ion-no-border">
	<ion-toolbar>
		<p class="ion-text-center custom-font">Already have an account? <a href="">Sign In</a></p>
	</ion-toolbar>
</ion-footer> -->