<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">
      <span> About Us</span>


    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="ion-padding">

    <ion-card>

      <ion-card-content class="card-content">
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle class="no">CookiesDelight
            </ion-card-subtitle>



          </ion-col>

        </ion-row>
      </ion-card-content>
    </ion-card>



  </div>
</ion-content>