<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title >Order Confirm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top >
  <div>

    <div>
      <ion-row>
        <ion-col>
          <ion-text class="item-def" text-center>
            <div class="pad">
              <img class="empty-cart-img" src="../../../../assets/order.png" alt="">


            </div>
          </ion-text>
        </ion-col>
      </ion-row>
    </div>

  </div>

</ion-content>
