<form class="ion-padding" [formGroup]="loginFOrm">

  <div class="wrap-input">
    <input formControlName="Email" class="input" type="text" name="user-email" placeholder="Email">
  </div>

  <div class="wrap-input">
    <input formControlName="Password" class="input" type="password" name="password" placeholder="Password">
  </div>

  <div class="container-form-btn">
    <button [disabled]="!loginFOrm.valid" (click)="login()" class="form-btn custom-font">
      Submit <ion-spinner *ngIf="loader" class="spinner-white" name="crescent"></ion-spinner>
    </button>
  </div>

</form>
<p class="ion-text-center custom-font m-t-2rem">Don't have an account? <a (click)="OnSingUpClick.emit(true)" >Sign Up</a></p>