<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="editProduct()" *ngIf="!isCustomer">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteProduct()" *ngIf="!isCustomer">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="ion-padding">
    <img [src]="product?.ImageUrl">

    <div class="ion-padding">
      <div class="desc">
        <h4>
          {{product?.ProductName}}
        </h4>
        <h6>
          {{product?.Description}}
        </h6>
        <h4>
          $ {{product?.Price}} 
        </h4>
      </div>
      <ion-button (click)="addToCart()" *ngIf="isCustomer" color="danger" mode="ios" expand="block" shape="round">
        <ion-icon slot="start" name="basket-outline"></ion-icon>
        Add to Cart
      </ion-button>
    </div>
  </div>
</ion-content>