<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center custom-font">
      <span> Forget Password</span>


    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">


  <p class="sub-title"> 
    All good-just enter the email address for your account and we’ll send you a verification code to reset it
  </p>
  <div class="ion-padding">
    <form class="ion-padding" [formGroup]="passwordForm" *ngIf="isShowEmailForm">

      <div class="wrap-input">
        <input formControlName="Email" class="input" type="text" name="user-email" placeholder="Email">
      </div>
      <div class="container-form-btn">
        <button [disabled]="!passwordForm.valid" (click)="submit()" class="form-btn custom-font">
          Submit <ion-spinner *ngIf="loader" class="spinner-white" name="crescent"></ion-spinner>
        </button>
      </div>
    </form>



    <form class="ion-padding" [formGroup]="changePasswordForm" *ngIf="isShowChangePasswordForm">
      <div class="wrap-input">
        <input formControlName="VerificationCode" class="input" type="text" name="user-VerificationCode"
          placeholder="VerificationCode">
      </div>
      <div class="wrap-input">
        <input formControlName="Password" class="input" type="password" name="password" placeholder="Password">
      </div>
      <div class="container-form-btn">
        <button [disabled]="!changePasswordForm.valid" (click)="setPassword()" class="form-btn custom-font">
          Submit <ion-spinner *ngIf="loader" class="spinner-white" name="crescent"></ion-spinner>
        </button>
      </div>
    </form>
  </div>

</ion-content>